<html>
<head>
  <title>Django Bookmarks | {%block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
  <script type="text/javascript" src="/site_media/firebug.js"></script>
  <script type="text/javascript" src="/site_media/jquery.js"></script>
  <!--and $.browser is deleted since jquery 1.9, we need a migrated js to comlpete the autocompletion-->
  <script type="text/javascript" src="/site_media/jquery-migrate-1.2.1.js"></script>
  {% block external%}{% endblock %}
</head>
<body>
  <div id="nav">
    <a href="/">home</a>|
    <a href="/popular/" >popualr</a>
	{% if user.is_authenticated %}
	  <a href="/save/">submit</a>|
	  <a href="/search/">search</a>|
	  welcome {{user.username}}
	  (<a href="/logout/">logout</a>)
	{% else %}
	  <a href="/login/">login</a> |
	  <a href="/register/">register</a>
	{% endif %}
  </div>
  <h1>{% block head %}{% endblock %}</h1>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
  {% block content %}{% endblock %}
<form action="/i18n/setlang/" method="post">
  {% csrf_token %}
<select name="language">
    {% for lang in LANGUAGES %}
    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
    {% endfor %}
</select>
<input type="submit" value="Go" />
</form>
</body>
</html>